<section class="proyectos" id="proyectos">
    <h2>Mis Proyectos</h2>
    <div class="Proyecto 1">
        <h3>
            Mi portafolio
        </h3>
        <p>Actualmente me encuentro haciendo mi portafolio </p>
    </div>
    <div class="Proyecto 2">
        <h3>
            Proyectos de Universidad
        </h3>
        <ul>
            <li>Estructuras: arbolitos</li>
            <li>Sistemas Operativos: multihilos</li>
            <li>Fundamentos: banco FLAD</li>
            <li>Gestión: Petfit</li>
            <li>Sis Info: Cygni</li>
        </ul>
    </div> <br>

</section>