<section class="contacto" id="contacto">
    <div id="contacto">
        <h2>
            Mi Contacto
        </h2>
        <p>Puedes contactarme de las siguientes maneras</p>
        <ul>
            <li><a href="adperezcely@gmail.com">Enviarme un correo electrónico</a></li>
            <li><a href="tel:+573177111255">Llamarme por teléfono</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=3177111255">Mandarme whatsapp</a></li>
            <br> 
        </ul>

        <p>Llámameeee</p>
        <br>
        <br>
        <p>
            :P
        </p>

    </div>
</section>
